<ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" id="ModelList" href="/Admin/ModelList" >Model List</a></li>
            <li class="nav-item"><a class="nav-link" id="AddNewModel" href="/Admin/AddNewModel" >Add New Model</a></li>
            <li class="nav-item"><a class="nav-link" id="AddNewEngine" href="/Admin/AddNewEngine" >Add New Engine</a></li>
            <li class="nav-item"><a class="nav-link" id="AddNewEquipment" href="/Admin/AddNewEquipment" >Add New Equipment</a></li>
            <li class="nav-item"><a class="nav-link" id="AddNewOption" href="/Admin/AddNewOption" >Add New Option</a></li>
</ul>