@{
    ViewData["Title"] = "Panel Administratora";
    Layout = "~/Views/Admin/Models/_Layout.cshtml";
    ViewData["ActivePage"] = "Models/AddNewEquipment";
}
<form>
    Add New Equipment Form
</form>