@{
	ViewData["Title"] = "Panel Administratora";
	Layout = "~/Views/Admin/Models/_Layout.cshtml";
	ViewData["ActivePage"] = "Models/EquipmentList";
}
<ul class="list-group list-group-flush">
	@foreach (Equipment m in @ViewBag.equipmentList)
	{

		<div class="d-style btn btn-brc-tp border-3 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
			<div class="row align-items-center">
				<div class="col-12 col-md-3">
					<h4 class=" text-170 text-600 text-primary-d1 letter-spacing"> @m.EquipmentName</h4>
					<div class="text-secondary-d1 text-120">
						<span class="ml-n15 ">PLN</span>
						<span class="text-180">@m.EquipmentPrice</span>
					</div>
				</div>
				<ul class="list-unstyled mb-0 col-12 col-md-9 text-dark-l1 text-90 text-left my-4 my-md-0">
					<li class="list-group-item my-1">
						<dl class="row mb-0 align-middle" style="font-size:12px">
							@foreach (Option o in m.Options)
							{
								<dd class="col-sm-12 text-center">
									@o.OptionName
								</dd>

							}

						</dl>
					</li>
				</ul>

			</div>
		</div>

	}
</ul>