<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"OrderList")" id="OrderList" href="/Admin/OrderList">Lista Zamówień</a></li>
</ul>