<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="EmployeeList" href="/Admin/EmployeeList">EmployeeList</a></li>
    <li class="nav-item"><a class="nav-link" id="AddNewEmployee" href="/Admin/AddNewEmployee">Add New Employee</a></li>
</ul>