<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"EmployeeList")" id="EmployeeList" href="/Admin/EmployeeList">EmployeeList</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"AddNewEmployee")" id="AddNewEmployee" href="/Admin/AddNewEmployee">Add New Employee</a></li>
</ul>