
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.Admin.AdminNav.IsActive(ViewContext,"Models")" id="Models" href="/Admin/ModelList">Models</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.Admin.AdminNav.IsActive(ViewContext,"Employees")" id="Employees" href="/Admin/EmployeeList">Employees</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.Admin.AdminNav.IsActive(ViewContext,"Dealerships")" id="Dealerships" href="/Admin/DealershipList">Dealerships</a></li>
</ul>