<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="Models" href="/Admin/ModelList">Models</a></li>
    <li class="nav-item"><a class="nav-link" id="Employees" href="/Admin/EmployeeList">Employees</a></li>
    <li class="nav-item"><a class="nav-link" id="Dealerships" href="/Admin/DealershipList">Dealerships</a></li>
</ul>