@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mercedes-Benz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mercedes-Benz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item mx-1">
                                <form method="post" asp-controller="Panel" asp-action="AdminPanel">
                                    <button type="submit" class="nav-link text-dark btn btn-light" style="border:none;">
                                        Admin Panel
                                    </button>
                                </form>
                            </li>
                        }
                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item mx-1">
                                <form method="post" asp-controller="Panel" asp-action="ManagerPanel">
                                    <button type="submit" class="nav-link text-dark btn btn-light" style="border:none;">
                                       Manager Panel
                                    </button>
                                </form>
                            </li>
                        }
                        @if (User.IsInRole("DealershipEmployee"))
                        {
                            <li class="nav-item mx-1">
                                <form method="post" asp-controller="Panel" asp-action="DealershipEmployeePanel">
                                    <button type="submit" class="nav-link text-dark btn btn-light" style="border:none;">
                                        DealershipEmployee Panel
                                    </button>
                                </form>
                            </li>
                        }
                        @if (User.IsInRole("ServiceEmployee"))
                        {
                            <li class="nav-item mx-1">
                                <form method="post" asp-controller="Panel" asp-action="ServiceEmployeePanel">
                                    <button type="submit" class="nav-link text-dark btn btn-light" style="border:none;">
                                        ServiceEmployee Panel
                                    </button>
                                </form>
                            </li>
                        }
                        @if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item mx-1">
                                <form method="post" asp-controller="Panel" asp-action="CustomerPanel">
                                    <button type="submit" class="nav-link text-dark btn btn-light" style="border:none;">
                                        Customer Panel
                                    </button>
                                </form>
                            </li>
                        }
                        <li class="nav-item mx-1">
                            <form method="post" asp-controller="ApplicationUser" asp-action="Logout">
                                <button type="submit" class="nav-link text-dark btn btn-light" style="border:none;">
                                    Sign out
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mx-1">
                            <a class="nav-link text-dark btn btn-light" style="border: none;" asp-controller="ApplicationUser" asp-action="Register">
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link text-dark btn btn-light" style="border:none;" asp-controller="ApplicationUser" asp-action="Login">
                                Sign In
                            </a>
                        </li>
                    }
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container align-content-center align-items-center">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mercedes-Benz
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
