
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Customers")" id="Customers" href="/Employee/CustomerList">Klienci</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Orders")" id="Orders" href="/Employee/OrderList">Zamówienia</a></li>
</ul>