@{
    ViewData["Title"] = "Home Page";
}
@model List<Car_Showroom.Models.Model>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        


        @foreach(var item in Model)
        {
            <div style="width:100%">
            @item.Name @item.Type
            @item.ModelsEngines
            @item.ModelsTrims

            </div>
            
        }
        




    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
