@{
    ViewData["Title"] = "Add Option To Trim";
}
@model List<Trim>;
<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-center">Add Option to Trim</h1><br />
            <form method="post" class="form-group" asp-controller="Management" asp-action="AddOptionToTrim">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <select class="form-control" id="trimNameSelect">
                                    @foreach(var trim in Model)
                                    {
                                        <option>@trim.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input class="form-control" type="text" placeholder="Option name" id="optionName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input class="form-control" type="text" placeholder="Option description" id="optionDescription"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-content-center justify-content-center">
                    <button asp-route-trimName="document.getElementById(trimNameSelect).value" asp-route-optionName="document.getElementById(optionName).value" asp-route-optionDescription="document.getElementById(optionDescription).value" type="submit" class="btn btn-primary">Add Option to Trim</button>
                </div>
            </form>
        </div>
    </div>
</div>