@{
    ViewData["Title"] = "Add New Trim";
}
@model Trim;

<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-center">Dodaj Nowy Trim</h1><br />
            <form method="post" class="form-group" asp-controller="Management" asp-action="CreateTrim">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="Name" class="form-control" placeholder="Nazwa" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row align-content-center justify-content-center">
                    <button type="submit" class="btn btn-primary">Dodaj Trim</button>
                </div>
            </form>
        </div>
    </div>
</div>