@{
    ViewData["Title"] = "Add New Dealer";
}
@model Car_Showroom.ViewModels.CreateDealerViewModel

<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-center">Dodaj nowego Handlarza</h1><br />
            <form method="post" class="form-group" asp-controller="Management" asp-action="CreateDealer">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="Name" class="form-control" placeholder="Imie" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="Country" class="form-control" placeholder="Kraj" />
                            </div>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="CountryCode" class="form-control" placeholder="Kod Pocztowy Kraju" />
                            </div>
                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                        </div>
                            <div class="input-group-prepend">
                                <input asp-for="City" class="form-control" placeholder="Miasto" />
                            </div>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="District" class="form-control" placeholder="Dzielnica" />
                            </div>
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="Street" class="form-control" placeholder="Ulica" />
                            </div>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="ApartmentNumber" class="form-control" placeholder="Numer" />
                            </div>
                            <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input asp-for="PostalCode" class="form-control" placeholder="Kod Pocztowy" />
                            </div>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <input step="25" asp-for="MaxCarsNumber" class="form-control" placeholder="Maksymalna Ilość Aut" />
                            </div>
                            <span asp-validation-for="MaxCarsNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row align-content-center justify-content-center">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>
