@{
    ViewData["Title"] = "Panel Managera";
    Layout = "~/Views/Manager/Employees/_Layout.cshtml";
    ViewData["ActivePage"] = "Employees/AddNewEmployee";
}
<form>
    Add New Employee Form
</form>