<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"CustomerList")" id="CustomerList" href="/Admin/CustomerList">Customer List</a></li>
</ul>