<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="DealershipList" href="/Admin/DealershipList">Dealership List</a></li>
    <li class="nav-item"><a class="nav-link" id="AddNewDealership" href="/Admin/AddNewDealership">Add New Dealership</a></li>
</ul>