<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.Admin.AdminNav.IsActive(ViewContext,"DealershipList")" id="DealershipList" href="/Admin/DealershipList">Dealership List</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.Admin.AdminNav.IsActive(ViewContext,"AddNewDealership")" id="AddNewDealership" href="/Admin/AddNewDealership">Add New Dealership</a></li>
</ul>