@{
    ViewData["Title"] = "Panel Administratora";
    ViewData["ActivePage"] = "Dealerships/AddNewDealership";
    Layout = "~/Views/Admin/Dealerships/_Layout.cshtml";
}
<form>
    Add New Dealership Form
</form>