@{
    ViewData["Title"] = "Panel Administratora";
    Layout = "~/Views/Admin/Dealerships/_Layout.cshtml";
    ViewData["ActivePage"] = "Dealerships/DealershipList";
}
<form>
    Dealership List
</form>